*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.logomark-microsoft {
  height: 100px;
  width: 100px;
  background: #f35325;
  box-shadow: 105px 105px 0px 0px #f9ba09, 
              0 105px 0 0 #39a6f0, 
              105px 0px 0px 0 #81bc04, 
              0px 0px 0px 0px transparent;
  margin: -100px;
}

.microsoft {
  height: 130px;
  position: relative;
}
