:root {
  --primary: #2f2d2d;
  --border: #3e3b3b;
  --white: #fff;
  --default-text: #888585;
}

*, :before, :after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
  
body {
  background: var(--primary);
  height: 100vh;
}

ul {
  list-style: none;
}

header {
  width: 100%;
  height: 80px;
  background-color: var(--primary);
  border: 1px solid var(--border);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.list-drawings {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 768px;
  margin: 250px auto 0;
  padding: 0 15px;
  gap: 32px;
}

.draw {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.draw img {
  border: 5px solid var(--white);
  border-radius: 20px;
  width: 210px;
  height: 210px;
}

.draw-name {
  font-family: sans-serif;
  color: var(--default-text);
}
